
.primer-logo img{
    width: 150px;
    height: 150px;
    align-items: center;
}



.first-container{

display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 20px;
   margin-bottom: 50px;
   margin-top: -70px;   
}

.first-container button{
    margin-top: 20px;
}

.first-container, .second-info h1, h2{
    color: #4B5565;
    text-align: center;
}