
.logo-container-last{
    align-items: center;
    text-align: center;
   
}

.tlf-tablet img{
    width: 500px;
    height: auto;
    padding: 50px 20px;
}

.firts-icons-section{
    max-width: 1100px;
    margin: 0 auto;
    padding: 80px 20px;

    display: flex;
    gap: 60px;
    justify-content: center;
    text-align: center;
}

.firts-icons-section h3{
  color: #4B5565;
    text-align: center;
}

.logos{
    display: flex;
    justify-content: space-around;
    padding: 50px;
    gap: 5px;
}

.logos img{
    width: 80px;
    height: auto;
}

.last-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 5px;
}

.last-container button{
    margin-top: 20px;
}

.last-container h1{
    color: #4B5565;
    text-align: center;
}